@namespace oxy url('http://www.oxygenxml.com/extensions/author');

/* Basic elements */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f5f5f5;
    word-wrap: break-word;

}

TEI {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    max-width: 50%;

}

/* TEI HEADER */

respStmt:before {
    content: oxy_label(text, "Metadata: \a", styles, 
"font-size:1.5em;font-weight: bold;font-style:normal;")
}

titleStmt > title {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
}

respStmt {
    display: block;
    font-style: italic;
    margin-top: 10px;
}

name {
    color: #0074d9;
    cursor: pointer;
    text-decoration: underline;
}

msIdentifier {
    display: block;
}

msIdentifier > settlement,
msIdentifier > repository {
    display: inline;
    margin-right: 10px;
}

persName,
placeName {
    color: #ff851b;
}

date {
    font-style: italic;
    color: #2ecc40;
}

surrogates > bibl:before {
    content: "Druck: ";
}


surrogates > bibl {
    display: block;
    margin-top: 15px;
}

surrogates > bibl:after {
    -oxy-link: oxy_xpath('./ref');
    content: " (Link)";
    color: #0074d9;
    text-decoration: underline;
}


bibl > ref {
    display: none;
    color: #0074d9;
    text-decoration: underline;
    cursor: pointer;
}

text > body {
    margin-top: 20px;
}

text > body > div > p {
    text-align: justify;
    line-height: 1.6;
}

oxy|comment {
    display: none !important;
}

/* CORRESPDESC */


correspDesc:before {
    content: oxy_label(text, "Korrespondenzbeschreibung: \a", styles, 
"font-size:1.5em;font-weight: bold;")
}


correspDesc {
    display: block;
    margin-top: 20px;
}


correspDesc > note {
    display: block;
    background-color: #ffffcc;
    border: 1px dotted #ffdc00;
    padding: 10px;
    margin-top: 15px;
}

note > ref {
    display: block;
}

note > ref:after {
    content: oxy_button(
actionID, 'lassberg-del-element', 
showIcon, true);
}


/* LETTER TEXT */

div[type = "original"]:before {
    content: oxy_label(text, "Brieftext: \a", styles, 
"font-size:1.5em;font-weight: bold;") oxy_label(text, "Original: \a", styles, 
"font-size:1em;font-weight: bold;")

}

div[type = "original"] {
    display: block;
}


div[type = "normalized"]:before {
    content: oxy_label(text, "\aNormalisiert: \a", styles, 
"font-size:1em;font-weight: bold;")

}

div[type = "translation"]:before {
    content: oxy_label(text, "\aÜbersetzt: \a", styles, 
"font-size:1em;font-weight: bold;")

}

div[type = "summary"]:before {
    content: oxy_label(text, "\aZusammenfassung: \a", styles, 
"font-size:1em;font-weight: bold;")

}

div[type = "normalized"] {
    display: block;
}


/* REGISTER */

rs[type = "person"] {
    font-weight: bold;
    color: #3d9970;
}

rs[type = "place"] {
    font-weight: bold;
    color: #ff4136;
}

rs[type = "bibl"] {
    font-weight: bold;
    color: #b10dc9;
}

rs {
    font-weight: bold;
    color: gray;
}

div > p > rs[key = ""] {
    text-decoration: underline;
    text-decoration-style: dashed;
}

div > p > rs[type = "person"]:before {
    content: oxy_buttonGroup(
icon, '${framework}/img/account-box-outline-16.png', 
actions, 
oxy_action_list(
oxy_action(id, 'lassberg-query-persReg'), 
oxy_action(id, 'lassberg-add-reg-person-from-letter'),
oxy_action(id, 'lassberg-removeregister')

)
) oxy_combobox(
edit, '@type', 
editable, false, 
values, 'person, place, bibl, object, misc', 
labels, 'Person, Ort, Text, Objekt, Verschiedenes'
)

    ;
}



div > p > rs[type = "place"]:before {
    content: oxy_buttonGroup(
icon, '${framework}/img/database-marker-16.png', 
actions, 
oxy_action_list(
oxy_action(id, 'lassberg-query-placeReg'), 
oxy_action(id, 'lassberg-add-reg-place-from-letter'), 
oxy_action(id, 'lassberg-removeregister')

)
) oxy_combobox(
edit, '@type', 
editable, false, 
values, 'person, place, bibl, object, misc', 
labels, 'Person, Ort, Text, Objekt, Verschiedenes'
)

    ;
}



div > p > rs[type = "bibl"]:before {
    content: oxy_buttonGroup(
icon, '${framework}/img/book-open-16.png', 
actions, 
oxy_action_list(
oxy_action(id, 'lassberg-query-litReg'), 
oxy_action(id, 'lassberg-add-reg-literature-from-letter'), 
oxy_action(id, 'lassberg-removeregister')

)
) oxy_combobox(
edit, '@type', 
editable, false, 
values, 'person, place, bibl, object, misc', 
labels, 'Person, Ort, Text, Objekt, Verschiedenes'
)

    ;
}


div > p > rs:before {
    content: oxy_combobox(
edit, '@type', 
editable, false, 
values, 'person, place, bibl, object, misc', 
labels, 'Person, Ort, Text, Objekt, Verschiedenes'
)
    ;
}


div > p > rs[type = "person"]:after {
    content: 
    " ("
 oxy_label(
text, 
oxy_xpath(
oxy_concat('string-join(doc("../register/lassberg-persons.xml")//person[@xml:id="', 
oxy_replace(attr(key), "../register/lassberg-persons.xml#", ""), 
'"]/persName/text())')
)
) ") "

 oxy_button(
actionID, 'lassberg-del-tags', 
showIcon, true)
    ;
}

div > p > rs[type = "bibl"]:after {
    content: 
    " ("
 oxy_label(
text, 
oxy_xpath(
oxy_concat('string-join(doc("../register/lassberg-literature.xml")//bibl[@xml:id="', 
oxy_replace(attr(key), "../register/lassberg-literature.xml#", ""), 
'"]/title/text())')
)
) ") "

 oxy_button(
actionID, 'lassberg-del-tags', 
showIcon, true)
    ;
}

div > p > rs[type = "place"]:after {
    content: 
    " ("
 oxy_label(
text, 
oxy_xpath(
oxy_concat('string-join(doc("../register/lassberg-places.xml")//place[@xml:id="', 
oxy_replace(attr(key), "../register/lassberg-places.xml#", ""), 
'"]/placeName/text())')
)
) ") "

 oxy_button(
actionID, 'lassberg-del-tags', 
showIcon, true)
    ;
}

div > p > rs:after {
    content: oxy_button(
actionID, 'lassberg-del-tags', 
showIcon, true);
}
