/* Generic styling */
TEI {
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4; /* Light gray background */
    font-family: Arial, sans-serif;
}

teiHeader, text {
    display: block;
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 10px;
}

/* Styling for the header section */
teiHeader > fileDesc {
    display: block;
}

titleStmt > title {
    font-weight: bold;
    font-size: 1.2em;
}

titleStmt > respStmt {
    display: block;
    margin-top: 10px;
}

titleStmt > respStmt > name {
    font-weight: bold;
    display: inline-block;
    color: #444;
}

titleStmt > respStmt > resp {
    font-style: italic;
    margin-left: 10px;
    display: inline-block;
}

publicationStmt > p, sourceDesc > p {
    display:block;
    margin-top: 10px;
}

/* Styling for the list of persons */
listPerson {
    display: block;
    border-top: 2px solid #aaa;
    padding-top: 20px;
}

listPerson:after {
    content: oxy_buttonGroup(
    label, 'Add person or personGrp',
    actionIDs, 'lassberg-add-person, lassberg-add-personGrp'
)
}



person {
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 5px; /* Rounded corners */
    background-color: #e0e0e0; /* Stronger gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
}


personGrp {
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 5px; /* Rounded corners */
    background-color: #e0e0e0; /* Stronger gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
}

person > persName {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

personGrp > persName {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}


person:before {
 content: oxy_combobox(           
            edit, "@gender",
            editable, true,
            values, "male, female, CorporateBody, none",
            labels, "male, female, Körperschaft, none")
            
            oxy_combobox(           
            edit, "@type",
            editable, true,
            values, "contemporary, historical",
            labels, "contemporary, historical")
            
            oxy_button(
        actionID, 'lassberg-get-data-from-lobid',
        showIcon, true)
        
        oxy_textfield(
          edit, '@xml:id')

            
            
            ;
}
 
personGrp:before {
 content: oxy_combobox(           
            edit, "@gender",
            editable, true,
            values, "male, female, CorporateBody, none",
            labels, "male, female, Körperschaft, none")
            
            oxy_combobox(           
            edit, "@type",
            editable, true,
            values, "contemporary, historical",
            labels, "contemporary, historical")
            
            oxy_button(
        actionID, 'lassberg-get-data-from-lobid',
        showIcon, true)
            
            
            ;
}

person:after {
  -oxy-link:attr(ref);
  content: oxy_label(text, "GND: ", styles, "font-weight:bold;width:70px") oxy_textfield(
            edit, "@ref") ") ";
          
}

personGrp:after {
  -oxy-link:attr(ref);
  content: oxy_label(text, "GND: ", styles, "font-weight:bold;width:70px") oxy_textfield(
            edit, "@ref") ") ";
          
}

ref:before {
  -oxy-link:attr(target);
  content: oxy_label(text, "Wiki: ", styles, "font-weight:bold;width:70px");
          
}



person > occupation, person > birth, person > education, person > ref {
    display: block;
    margin-top: 5px;
    padding-left: 10px; /* Indentation */
}

person > ref {
    color: #0066cc;
    text-decoration: underline;
    cursor: pointer;
}

occupation:before {
    content: oxy_label(text, "Beruf: ", styles, "font-weight:bold;width:70px");
}

birth:before {
    content: oxy_label(text, "* ", styles, "font-weight:bold;width:70px");
}

education:before {    
    content: oxy_label(text, "Grad: ", styles, "font-weight:bold;width:70px");
}
