/* Base styles */
TEI {
    font-family: Arial, sans-serif;
    margin: 10px;
    color: #333;
}

teiHeader {
    display: block;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

titleStmt > title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

publicationStmt p, sourceDesc p {
    font-style: italic;
}

availability > licence {
    font-weight: bold;
    color: #2a7ae2;
}

bibl {
    display: block;
    font-style: italic;
    margin: 10px 0;
}

profileDesc {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

correspDesc {
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 10px;
    background-color: #fafafa;
}

correspDesc::before{
    content: oxy_combobox(
        edit, "@change",
        editable, true,
        values, "in_register, scan_ordered, in_transcribus_waiting, in_transcribus_done, in_oxygen_waiting, in_oxygen_done, online",
        labels, "in_register, scan_ordered, in_transcribus_waiting, in_transcribus_done, in_oxygen_waiting, in_oxygen_done, online")
        }

correspAction {
    margin-bottom: 10px;
}

correspAction[type="sent"] {
    border-left: 4px solid #4caf50;
    padding-left: 10px;
}

correspAction[type="received"] {
    border-left: 4px solid #f44336;
    padding-left: 10px;
}

persName, placeName, date {
    font-weight: bold;
}

persName {
    color: #3e7ab1;
}

placeName {
    color: #2a7ae2;
}

date {
    display: inline-block;
    color: #555;
    margin-left: 5px;
}

note[type="nummer_harris"]::before {
    content: "Harris: "
}


note[type="url_facsimile"]::before {
    content: "Digitalisat: "
}


note[type="published_in"]::before {
    content: "Gedruckt: "
}


note[type="nummer_harris"],
note[type="aufbewahrungsort"],
note[type="aufbewahrungsinstitution"],
note[type="journalnummer"],
note[type="signatur"],
note[type="url_facsimile"],
note[type="published_in"] 
note[type="status"] {
    font-style: italic;
    margin-top: 5px;
    display: block;
}

note[type="status"][change="waiting"] {
    color: orange;
    font-weight: bold;
}

note[type="aufbewahrungsort"],
note[type="aufbewahrungsinstitution"] {
    color: #5c5c5c;
}

note[type="nummer_harris"] {
    color: #888;
}



/* Hyperlinks */
a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add some spacing for readability */
correspAction persName::after,
correspAction placeName::after,
correspAction date::after {
    content: " | ";
}

correspAction date::after {
    content: "";
}
